@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.delani-studio {
    background-image: url("../images/h_img.jpg");
    height: 110vh;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    background-size: cover;
}

#img1 {
    margin-top: 17%;
    width: 65px;
}

.delani-studio h2 {
    font-size: 35px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 3%;
}

.delani-studio h3 {
    font-size: 27px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 3%;
}

.delani-studio p {
    font-size: 12px;
    color: #ffffff;
    font-weight: 900;
}

#img2 {
    margin-top: 10.5%;
}

.about-us {
    height: 22%;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.para1 {
    margin-top: 5%;
    font-weight: bold;
    color: #000000;
}

.para2 {
    margin-top: 2%;
    font-weight: bold;
    color: #000000;
    line-height: normal;
}